*, *::before, *::after { box-sizing: border-box; }
img { max-width: 100%; vertical-align: middle; border: 0; }

:root {
	font-size: 1.1875rem;
	--bg-color: #2d2e2f;
}
body {
	padding: 0;
	margin: 0;
	background: var(--bg-color);
	font-family: 'Vollkorn', serif;
	color: #fff;
	font-size: 1rem;
	line-height: 1.5;
}
h1, h2 {
	font-family: 'Abril Fatface', serif;
	font-weight: normal;
	text-align: center;
	line-height: 1;
}
h1 {
	font-size: 16vw;
	margin: 0;
}
h2 {
	font-size: 4.5rem;
	height: 20vh;
	text-shadow: 0 0 30px #000;
}
p {
	margin: 0;
}
a {
	color: #fff;
}
#hero {
	height: 100vh;
}
#hero *{
	height: 100vh;
	width: 100%;
	position: fixed;
	object-fit: cover;
	z-index: -1;
}
#hero h1{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 15vh;
}

#content {
	background: var(--bg-color);
	padding: 3rem 0;
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr;
}
#content > .island-header {
	margin: 0;
	grid-column: 1 / -1;
	padding: 20%;
	margin: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: top center;
}

@media (min-width: 675px) {
	h1 {
		font-size: 8.5vw;
	}
}
@media (max-width: 899px) {
	#content > * {
		margin: 0 20px;
	}
}
@media (min-width: 900px) {
	#content {
		grid-template-columns: 1fr 12fr 1fr;
	}
	#content > * {
		grid-column: 2 / -2;
	}
}
@media (min-width: 1250px) {
	#content {
		grid-template-columns: 1fr 90ch 1fr;
	}
}